{% extends 'base.html.twig' %}

{% block body %}
    <h1></h1>
    <p>
        <a href="{{ path('newsCreate') }}" class="btn btn-primary">Создать</a>
    </p>
    {% for model in models %}
        {{ model.title }}
    {% endfor %}
{% endblock %}