{% extends 'base.html.twig' %}

{% block body %}
    {% set breadcrumbs = {'breadcrumbs' : [{'label': 'Новости'}]} %}
    {% include 'parts/breadcrumbs.html.twig' with breadcrumbs %}
    <h1></h1>
    <p>
        <a href="{{ path('newsCreate') }}" class="btn btn-primary">Создать</a>
    </p>
    <table class="table">

        {% for model in models %}
            <tr>
                <td>{{ model.title }}</td>
                <td>
                    <a href="{{ path('newsView', {"id": model.id}) }}"><span
                                class="glyphicon glyphicon-eye-open"></span></a>
                    <a href="{{ path('newsUpdate', {"id": model.id}) }}"><span
                                class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>

        {% endfor %}
    </table>

{% endblock %}